<section class="section-steps ">
    <div class="title-section ">
        <img src="{{ "assets/img/title-training.png" | relative_url }} " alt=" ">
        <div class="title ">
            <h6>
                < Who is O&B> />
            </h6>
            <h2>Learn more about O&B University</h2>
        </div>
    </div>
    <div class="element-1 ">
        <img src="{{ "assets/img/element-divider.svg" | relative_url }} " alt=" ">
    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 col-lg-5">
                <img class="element-2" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -first">
                    <img src="{{ "assets/img/steps-ico-5.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Our History</h4>
                        <p>
                             O&B started offering Java development training in 2005. We started with Core Java Training, our flagship course.
                        </p>
                        <p>
                             In 2011, we partnered with the academe through the Philippine Software Industry Association (PSIA) and Commission on Higher Education (CHED) . Our head instructor and CEO, Calen Legaspi, was tasked to review the computer science curriculum of universities in the Philippines. 
                        </p>
                        <p>
                             We offer over 30 courses, including classes in the Spring framework, Agile, and relational databases.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="d-md-none d-lg-block col-lg-7"></div>
            <div class="col-md-12 col-lg-5 ">
                <img class="element-3" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -second">
                    <img src="{{ "assets/img/steps-ico-6.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Agile Advocates</h4>
                        <p>
                             O&B has been advocating Agile since 2005. Because we are primarily a software development company, our approach to Agile training is therefore pragmatic, not theoretical. It is not just a discussion of one methodology or another, but an analysis of why projects succeed or fail, and which practices can address specific issues. We go beyond what is written in books and articles, and bring in our own experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 col-lg-5">
                <img class="element-2" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -third">
                    <img src="{{ "assets/img/steps-ico-3.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Industry and Government Partnership</h4>
                        <p>
                             O&B bridges the industry-academe gap by partnering with industry and government associations. Through our partnership with the Philippine Software Industry Association (PSIA) and the Philippine Society of Information Technology Educators (PSITE), we provide free training and enablement workshops to empower IT educators. The goal of these training courses is to develop a core community of educators who can better prepare their students for the requirements of the industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="d-md-none d-lg-block col-lg-7"></div>
            <div class="col-md-12 col-lg-5 ">
                <img class="element-3" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -second">
                    <img src="{{ "assets/img/steps-ico-4.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Coaching and Advisory</h4>
                        <p>
                             As a complement to our training programs, Orange & Bronze has also provided services to help firms engaged in software development to improve their practices, or to help their management teams make important business decisions that involve technology.
                        </p>
                        <p>
                             These services include Agile coaching, process and architecture review, and performance tuning.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>