<div class="container">
    <div class="col">
        <div class="row">
            <div class="client-list">
                <a href="https://www.globe.com.ph/" target="_blank">
                    <img src="{{ "assets/img/client-globe.png" | relative_url }}" alt="Globe Logo | Orange and Bronze client">
                </a>
                <a href="https://www.ibm.com/ph-en/" target="_blank">
                    <img src="{{ "assets/img/client-ibm.png" | relative_url }}" alt="IBM Logo | Orange and Bronze client">
                </a>
                <a href="https://www.cisco.com/c/en_ph/index.html" target="_blank">
                    <img src="{{ "assets/img/client-cisco.png" | relative_url }}" alt="CISCO Logo | Orange and Bronze client">
                </a>
                <a href="https://smart.com.ph/corporate" target="_blank">
                    <img src="{{ "assets/img/client-smart.png" | relative_url }}" alt="Smart Logo | Orange and Bronze client">
                </a>
                <a href="https://www.accenture.com/ph-en/new-applied-now" target="_blank">
                    <img src="{{ "assets/img/client-accenture.png" | relative_url }}" alt="Accenture Logo | Orange and Bronze client">
                </a>
                <a href="https://www.philippineairlines.com/en/ph/home" target="_blank">
                    <img src="{{ "assets/img/client-pal.png" | relative_url }}" alt="Philippine Airline Logo | Orange and Bronze client">
                </a>
                <a href="http://www8.hp.com/ph/en/home.html" target="_blank">
                    <img src="{{ "assets/img/client-hp.png" | relative_url }}" alt="HP Logo | Orange and Bronze client">
                </a>

            </div>
        </div>
    </div>
</div>