<div class="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                <form name="contact" class="form-contact" netlify>
                    <div class="header">
                        <div class="title-form">
                            <div class="title">
                                <h6>
                                    < TRANSFORM YOUR COMPANY NOW />
                                </h6>
                                <h2>Send an Inquiry</h2>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="form-row">
                            <div class="form-group  col-xs-12 col-sm-6 ">
                                <label for="name">My name is</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
                            </div>
                            <div class="form-group  col-xs-12 col-sm-6 ">
                                <label for="company">My company is</label>
                                <input type="text" name="company" class="form-control" id="company" placeholder="Your company" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group  col-xs-12 col-sm-6">
                                <label for="email">My email is</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="hello@email.com" required>
                            </div>
                            <div class="form-group  col-xs-12 col-sm-6">
                                <label for="location">I'm located at</label>
                                <input type="text" name="location" class="form-control" id="location" placeholder="Your location" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="message">My message</label>
                                <textarea name="message" class="form-control" id="message" rows="5"></textarea>
                                <button class="btn -primary -block mt20 mb10">
                                    <img class="ico" src="{{ "assets/img/ico-arrow-white.svg" | relative_url }}" alt=""> Send Message
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
        </div>
    </div>
</div>