<div class="section-cta">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <hr>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="component-cta">
                    <div class="content">
                        <h6>
                            < TRANSFORM YOUR CAREER NOW />
                        </h6>
                        <h2>Let’s get started</h2>
                    </div>
                    <a href="/training/tracks" class="btn -primary">
                        <img src="{{ "assets/img/ico-arrow-white.svg" | relative_url }}" class="ico" alt=""> BROWSE TRAINING TRACKS & COURSES
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>