<div class="header-content">
    <div class="container">

        {% if page.class == "front" %}

            <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-6">
                    <H6>
                        < {{ page.header_title }} />
                    </H6>
                    <H1>
                        {{ page.title }}
                    </H1>
                    <P>
                        O&B's Java and Agile training courses were developed using knowledge gained from real-world software development projects. We offer classes in <a class="header-link-bold" href ="/training_tracks/java-developer/" target="_blank">Java</a>, <a href="/training_tracks/spring-developer/" target="_blank">Spring</a>, <a href="/java-framework/jpa-hibernate/" target="-blank">Hibernate</a>, <a href="/training_tracks/agile-manager/" target="_blank">Agile</a>, and other related technologies.
                    </P>
                    <a href="/training/tracks" class="btn -secondary mt10">
                        <img src="{{ "assets/img/ico-arrow.svg" | relative_url }}" alt="" class="ico svg"> Browse Training Tracks & Courses
                    </a>
                </div>
            </div>

        {% else %}

            <div class="row">
                <div class="col-12 text-center">
                    <H6>
                        < {{ page.header_title }} />
                    </H6>
                    <H1>
                        {{ page.title }}
                    </H1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xl-3"></div>
                <div class="col-lg-8 col-xl-6 text-center">
                    {% if page.class == "trainingtrack" %}
                        <P>
                            "Our training courses were developed using knowledge gained from real-world software development projects. We offer classes in <a class="header-link-bold" href ="/training_tracks/java-developer/" target="_blank">Java</a>, <a href="/training_tracks/spring-developer/" target="_blank">Spring</a>, <a href="/java-framework/jpa-hibernate/" target="-blank">Hibernate</a>, <a href="/training_tracks/agile-manager/" target="_blank">Agile</a>, and other related technologies."
                        </P>
                        {% elsif page.class == "trainingtrack2" %} 
                        <P>
                        "O&B has built a reputation on hiring and training skilled software engineers. We have experience developing enterprise applications using <a class="header-link-bold" href ="/training_tracks/java-developer/" target="_blank">Java</a>, <a href="/training_tracks/spring-developer/" target="_blank">Spring</a>, <a href="/java-framework/jpa-hibernate/" target="_blank">Hibernate</a>."
                        </P>
                        <br>
                        <br>
                        {% else %}
                        <P>
                            {{ page.header_description }}
                        </P>
                    {% endif %}

                    {% if page.class == "contact" %}


                        <br/>
                        <br/>

                        <a href="/training/tracks" class="btn -secondary">
                            <img src="{{ "assets/img/ico-arrow.svg" | relative_url }}" alt="" class="ico svg"> Browse Training Tracks & Courses
                        </a>

                    {% elsif page.class == "trainingtrack" %}

                        <a href="{% if page.other_courses %}/training/tracks{% else %}#training-tracks{% endif %}" class="btn -secondary">
                            <img src="{{ "assets/img/ico-arrow.svg" | relative_url }}" alt="" class="ico svg"> Browse Training Tracks & Courses
                        </a>

                    {% elsif page.class == "business" %}

                        <br/>
                        <br/>
                        <br/>
                        
                        <!-- <a href="/training/tracks" class="btn -secondary">
                            <img src="{{ "assets/img/ico-arrow.svg" | relative_url }}" alt="" class="ico svg"> Browse Training Tracks & Courses
                        </a> -->

                    {% elsif page.class == "corporate" %}

                        <a href="/training/tracks" class="btn -secondary">
                            <img src="{{ "assets/img/ico-arrow.svg" | relative_url }}" alt="" class="ico svg"> Browse Training Tracks & Courses
                        </a>

                    {% endif %}
                </div>
            </div>

        {% endif %}

    </div>
</div>