<section class="section-stats">
    <div class="element-1">
        <img src="{{ "assets/img/bg-element6.jpg" | relative_url }}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="d-lg-none d-xl-flex col-lg-1"></div>
            <div class="col-sm-12 col-md-5 col-lg-6 col-xl-5 text-center">
                <img class="img-fluid" src="{{ "assets/img/img-feature3.jpg" | relative_url }}" alt="">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-6 col-xl-4">
                <h1>Over 5,000</h1>
                <h3>Developers trained in the Philippines</h3>
                <p>
                    We have conducted extensive software engineering courses for staff in different roles - software developers, business analysts, product managers, and even non-technical staff.
                </p>
            </div>
            <div class="d-lg-none d-xl-flex col-lg-2"></div>
        </div>
    </div>
</section>

<section class="section-stats">
    <div class="element-2">
        <img src="{{ "assets/img/bg-element7.jpg" | relative_url }}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-sm-block d-md-none text-center">
                <img class="img-fluid" src="{{ "assets/img/img-feature4.jpg" | relative_url }}" alt="">
            </div>
            <div class="d-md-none col-lg-1 d-lg-block col-xl-1"></div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <h1>Over 200</h1>
                <h3>Companies digitally transformed</h3>
                <p>
                    We have helped organizations in different industries digitally transform their businesses and improve productivity through developer empowerment. We equip teams with the right skills and the right mindset to deliver quality software applications.
                </p>
            </div>
            <div class="col-1"></div>
            <div class="d-sm-none d-md-block col-md-5 col-lg-6 text-center">
                <img class="img-fluid" src="{{ "assets/img/img-feature4.jpg" | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section-stats">
    <div class="element-3">
        <img src="{{ "assets/img/bg-element8.jpg" | relative_url }}" alt="">
    </div>
    <div class="element-4">
        <img src="{{ "assets/img/bg-element9.jpg" | relative_url }}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="d-md-none d-lg-block col-lg-1 col-xl-1"></div>
            <div class="col-md-5 col-lg-5 col-xl-5">
                <img class="img-fluid" src="{{ "assets/img/img-feature5.jpg" | relative_url }}" alt="">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-4">
                <h1>23,192</h1>
                <h3>Hours of mentoring young developers</h3>
                <p>
                    The O&B way is a known industry standard in software development. Our years of experience and roster of clients prove that both small companies and large enterprises trust our training programs.
                </p>
            </div>

        </div>
    </div>
</section>
