<section class="section-steps ">
    <div class="title-section ">
        <img src="{{ "assets/img/title-training.png" | relative_url }} " alt=" ">
        <div class="title ">
            <h6>
                < SOFTWARE DEVELOPMENT TRAINING />
            </h6>
            <h2>How to Book a Class</h2>
        </div>
    </div>
    <div class="element-1 ">
        <img src="{{ "assets/img/element-divider.svg" | relative_url }} " alt=" ">
    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 col-lg-5">
                <img class="element-2" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -first">
                    <img src="{{ "assets/img/steps-ico-1.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Choose a Training Track or a Training Course</h4>
                        <p>
                            Select a training track or a course your team would like to take. O&B can also customize a training program if you have a specific requirement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="d-md-none d-lg-block col-lg-7"></div>
            <div class="col-md-12 col-lg-5 ">
                <img class="element-3" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -second">
                    <img src="{{ "assets/img/steps-ico-2.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Contact Us</h4>
                        <p>
                            Give us a call at 751-4726 or email us at training-sales@orangeandbronze.com. We will be happy to provide you with more information, including schedule and rates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 col-lg-5">
                <img class="element-2" src="{{ "assets/img/dot.png" | relative_url }}" alt="">
                <div class="card-step -third">
                    <img src="{{ "assets/img/steps-ico-3.png" | relative_url }}" alt=" ">
                    <div class="content">
                        <h4>Training Begins</h4>
                        <p>
                            You may choose to hold training in our training center in Makati or a venue of your choice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>