.card-advantage {
  text-align: center;
  padding: 30px;
  margin-bottom: 15px;
  height: 100%;
  transition: 0.4s ease-in;
  @include breakpoint(xs) {
    margin-bottom: 15px;
    height: auto;
  }
  &:hover {
    box-shadow: 0 5px 40px 0 rgba(130, 132, 134, 0.13);
    transition: 0.2s ease-in;
  }
  > img {
  }
  > p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
    color: #606e7b;
    margin-bottom: 0;
  }
}

.card-popular-courses{
  box-shadow: 0 5px 40px 0 rgba(130, 132, 134, 0.13);
  text-align: left;
  margin-bottom: 20px;
  h1{
    color: #000000;
    font-size: 18px;
    margin-top: 20px;
  }
  h2{
    color: #848484;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.75px;
    img{
      display: inline-block;
      vertical-align: middle;
      width: 15px;
    }
  }
}

.popular-courses{
  .col-md-4{
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
  }
  .bestseller{
    background: #ea800a;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
  }
}