.card-step {
  margin-bottom: 30px;
  @include breakpoint(md) {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    img {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  @include breakpoint(xs) {
    text-align: center !important;
    img {
      display: none;
    }
  }
  > img {
    height: 120px;
    width: auto;
    margin-bottom: 20px;
  }
  &.-first {
    text-align: right;
    @include breakpoint(md) {
      text-align: left;
    }
  }
  &.-second {
  }
  &.-third {
    text-align: right;
    @include breakpoint(md) {
      text-align: left;
    }
  }
  > .content {
    h4 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
