.client-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @include breakpoint(xs) {
    justify-content: space-evenly;
  }
  @include breakpoint(sm) {
    justify-content: space-evenly;
  }
  @include breakpoint(md) {
    justify-content: space-evenly;
  }
  @include breakpoint(lg) {
    justify-content: space-evenly;
  }
  a img {
    padding: 0 20px;
    transition: all 200ms ease-in-out;
    filter: grayscale(100%);
    @include breakpoint(lg) {
      padding: 0 10px;
    }
    @include breakpoint(md) {
      padding: 0 30px;
    }
    @include breakpoint(xs) {
      padding: 0 20px;
    }
    &:hover {
      transition: all 200ms ease-in-out;
      filter: none;
      transform: translateY(-5px);
    }
  }
}
