.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  > .logo {
    transition: all 200ms ease-in-out;
    &:hover {
      opacity: 1;
      transform: translateY(-2px);
      transition: all 200ms ease-in-out;
    }
    &:active {
      transform: translateY(2px);
      transition: all 100ms ease-in-out;
    }
  }
}

.navbar-menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
  > li {
    // padding: 0 4px;
    align-self: center;
  }
  > li a {
    font-family: $exo;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    opacity: 0.7;
    padding: 10px 16px;
    &:hover {
      opacity: 1;
      position: relative;
      transition: transform 300ms;
    }
  }
  .dropdown-item {
    color: #606e7b;
    padding: 10px 20px;
    font-size: 16px;
    &:hover {
      color: #ffa02f;
    }
    &:active {
      background-color: transparent;
    }
  }
}

.dropdown-menu {
  border-radius: 8px;
}

.dropdown-menu.show {
  transition: all 500ms ease-in-out;
  border: none;
  box-shadow: 0 2px 30px 0 rgba(31, 32, 33, 0.07);
  transition: none;
}
