<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="page-{{ page.class }}">

    <header>

        {%- include header-main-nav.html -%}

        {%- include header-sub-nav.html -%}

        {%- include header-content.html -%}

        {% if page.class == "front" %}

            <div class="element-2">
                <img src="{{ "assets/img/bg-element1.svg" | relative_url }}" alt="">
            </div>

            <div class="element-1">
                <img src="{{ "assets/img/img-heading.png" | relative_url }}" alt="O&B instructor assisting his two students with their hands-on exercises. | Java & Agile Scrum Training Philippines | Orange and Bronze Software Labs">
            </div>

        {% else %}

            <div class="element-1">
                <img src="{{ "assets/img/bg-element1.svg" | relative_url }}" alt="">
            </div>

        {% endif %}

    </header>

    <main>

      {{ content }}

      {% if page.class != "contact" %}

        {%- include testimonials.html -%}

      {% endif %}

      {%- include get-started.html -%}

      {%- include footer.html -%}

    </main>

    <script src="{{ "assets/js/vendor/jquery-3.3.1.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/vendor/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/vendor/slick.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/vendor/sticky.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/main.js" | relative_url }}"></script>
  </body>

</html>
